a {
  text-decoration: none; }

ul {
  list-style: none; }

.left {
  float: left; }

.right {
  float: right; }

.modal {
  display: none; }

html {
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

body {
  min-height: 100%;
  height: 100%;
  overflow: hidden; }

input[type='text'] {
  border-bottom: 1px solid #a6b0b6 !important; }

input:focus {
  outline: 0;
  border-bottom: 1px solid #039be5 !important;
  box-shadow: none !important; }

.input-field label.active {
  font-size: 10px !important;
  color: #039be5 !important; }

header {
  height: 70px;
  position: relative;
  z-index: 2;
  background-color: white;
  box-shadow: 0 0 47.9px 3.1px rgba(166, 176, 182, 0.48);
  display: flex;
  align-items: center;
  padding: 0 30px 0 32px; }
  @media (max-width: 500px) {
    header {
      padding: 0 15px; } }
  header .chat-info {
    width: 100%;
    box-sizing: border-box;
    padding-left: 138px;
    margin-top: 7px;
    float: left; }
    @media (max-width: 992px) {
      header .chat-info {
        padding-left: 50px; } }
    @media (max-width: 720px) {
      header .chat-info {
        width: 60%; } }
    @media (max-width: 500px) {
      header .chat-info {
        padding-left: 0;
        width: 75%; } }
  @media (max-width: 800px) {
    header .chat-title {
      width: 85%; } }
  header .chat-title h1 {
    color: #65bef2;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    height: 15px;
    width: 100%; }
  header .chat-title span {
    height: 9px;
    opacity: 0.7;
    color: #65bef2;
    font-size: 11px;
    font-weight: 400; }
  header .icons-head-bar {
    margin-top: 8px;
    position: relative; }
    @media (max-width: 720px) {
      header .icons-head-bar {
        position: absolute;
        right: 35px; } }
    @media (max-width: 500px) {
      header .icons-head-bar {
        right: 15px; } }
    header .icons-head-bar i {
      opacity: 0.5;
      color: #a6b0b6;
      font-size: 18px; }
      header .icons-head-bar i.right {
        margin-left: 0; }
  header h2 {
    color: #a6b0b6;
    font-size: 14px;
    font-weight: 300;
    margin: 0; }
    @media (max-width: 500px) {
      header h2 {
        display: none; } }

.menu-ico {
  font-size: 20px;
  margin-right: 18px;
  color: #a6b0b6;
  display: flex; }
  .menu-ico.cross {
    position: relative;
    z-index: 1; }

.side-nav {
  padding: 20px 20px 0 20px; }

aside {
  padding: 20px 20px 0 20px;
  height: calc(100% - 70px) !important;
  overflow: overlay;
  width: 100% !important;
  max-width: 280px;
  float: left;
  box-sizing: border-box; }

.search-form .input-field {
  position: relative; }
  .search-form .input-field i {
    position: absolute;
    left: 16px;
    color: #a6b0b6;
    font-size: 16px;
    top: 8px; }
.search-form input {
  width: 100%;
  height: 31px;
  box-sizing: border-box;
  border: 0 !important;
  font-size: 14px;
  color: #a6b0b6;
  border-radius: 20px;
  padding-left: 38px;
  background-color: #fafafa; }
  .search-form input:focus {
    border-bottom: 0 !important;
    box-shadow: none !important; }
  .search-form input::placeholder {
    opacity: 0.5;
    color: #a6b0b6;
    line-height: normal;
    font-size: 11px;
    font-weight: 500; }

::-webkit-scrollbar {
  width: 1px;
  height: 1px; }

::-webkit-scrollbar-track {
  background-color: #f1f1f5; }

::-webkit-scrollbar-thumb {
  height: 78px;
  width: 1px;
  background-color: #65bef2; }

.empty-main {
  background: url("../images/bg-empty-mess.png") center no-repeat;
  height: calc(100% - 70px);
  background-position: 60% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 280px; }
  @media (max-width: 992px) {
    .empty-main {
      padding-left: 0; } }
  .empty-main h1 {
    opacity: 0.3;
    color: #6e7980;
    font-size: 24px;
    font-weight: 400; }

.col-chats {
  width: 100%;
  float: left;
  display: block; }
  .col-chats.marg {
    margin-bottom: 40px; }

.col-chats__title {
  margin-bottom: 20px;
  width: 100%;
  float: left; }
  .col-chats__title span {
    color: #a6b0b6;
    font-size: 11px;
    font-weight: 400; }
  .col-chats__title div {
    color: #65bef2;
    font-size: 9px;
    font-weight: 400;
    display: flex;
    align-items: center; }
    .col-chats__title div i {
      color: #d2d7da;
      font-size: 14px;
      margin-left: 7px; }

.message-list {
  float: left;
  height: calc(100% - 70px);
  overflow: auto;
  width: 100%; }

.messenger-chat {
  width: 100%;
  height: calc(100% - 170px);
  box-sizing: border-box;
  padding-left: 315px;
  position: relative; }
  @media (max-width: 992px) {
    .messenger-chat {
      padding-left: 35px; } }
  @media (max-width: 500px) {
    .messenger-chat {
      padding-left: 15px; } }
  .messenger-chat .companion-message-col {
    display: block;
    float: left;
    margin-top: 21px;
    width: 100%; }
    .messenger-chat .companion-message-col .message-content {
      flex-direction: row-reverse; }
    .messenger-chat .companion-message-col p.with-img-box {
      margin-left: 8px; }
  .messenger-chat .self-message-col {
    display: flex;
    float: right;
    margin-top: 21px;
    flex-direction: row-reverse;
    margin-right: 35px; }
    @media (max-width: 500px) {
      .messenger-chat .self-message-col {
        margin-right: 15px; } }
    .messenger-chat .self-message-col:last-child {
      margin-bottom: 20px; }
    .messenger-chat .self-message-col .user-info-chat {
      margin-top: 10px; }
    .messenger-chat .self-message-col .user-logo-chat {
      margin-right: 0; }
  .messenger-chat .user-logo-chat {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 12px; }
    .messenger-chat .user-logo-chat.empty {
      background-image: url("../images/clear-user-logo.png");
      box-shadow: 0 3px 7.5px 0.5px rgba(0, 0, 0, 0.09);
      background-repeat: no-repeat;
      background-position: center;
      background-color: white;
      background-size: 40%; }
    .messenger-chat .user-logo-chat i {
      position: absolute;
      color: #f0c600;
      font-size: 11px;
      background: #fff;
      left: 24px;
      top: 3px;
      width: 12px;
      height: 12px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      text-align: center; }
    .messenger-chat .user-logo-chat img {
      border-radius: 50%;
      text-align: center;
      width: 100%;
      height: 100%; }
  .messenger-chat .user-time {
    color: #a6b0b6;
    font-size: 8px;
    width: 30px;
    font-weight: 500;
    margin-top: 5px;
    text-align: center; }
  @media (max-width: 500px) {
    .messenger-chat .user-description-chat {
      width: 80%; } }
  .messenger-chat .user-description-chat h5 {
    opacity: 0.8;
    cursor: pointer;
    color: #6e7980;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px; }
  .messenger-chat .user-description-chat .message-content {
    background-color: #fdfdfd;
    border-radius: 3px;
    padding: 17px;
    color: #6e7980;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    max-width: 346px;
    display: flex; }
    .messenger-chat .user-description-chat .message-content.self-message {
      margin-right: 15px;
      background-color: #f2f9ff; }
      .messenger-chat .user-description-chat .message-content.self-message:after {
        right: -13px;
        top: 20px;
        left: inherit;
        border: 6px solid transparent;
        border-left: 7px solid #f2f9ff; }
    .messenger-chat .user-description-chat .message-content:after {
      content: '';
      position: absolute;
      left: -13px;
      top: 20px;
      border: 6px solid transparent;
      border-right: 7px solid #fdfdfd; }
    .messenger-chat .user-description-chat .message-content p {
      flex-basis: 100%; }
      .messenger-chat .user-description-chat .message-content p.with-img-box {
        margin-left: 8px; }
  .messenger-chat .user-description-chat .message-img {
    float: left;
    background: #fff;
    min-height: 80px;
    display: flex;
    min-width: 80px;
    align-self: stretch;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer; }
    .messenger-chat .user-description-chat .message-img:hover .message-img-hover {
      opacity: 1; }
  .messenger-chat .message-img-hover {
    position: absolute;
    z-index: 1;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px; }
    .messenger-chat .message-img-hover i {
      color: #65bef2;
      float: left;
      font-size: 18px; }
    .messenger-chat .message-img-hover a {
      display: block; }
      .messenger-chat .message-img-hover a.marg {
        margin-left: 8px; }

.field-text {
  display: block;
  float: left;
  width: auto;
  position: fixed;
  bottom: 0;
  right: 37px;
  left: 315px;
  background: #fff; }
  @media (max-width: 992px) {
    .field-text {
      left: 35px; } }
  @media (max-width: 500px) {
    .field-text {
      left: 15px;
      right: 15px; } }
  .field-text textarea {
    padding: 16px;
    width: 100%;
    height: 115px;
    background-color: white;
    border: 1px solid #f4f6f7;
    border-radius: 5px;
    resize: none;
    opacity: 1;
    color: #373737;
    font-size: 12px;
    font-weight: 400; }
    .field-text textarea:focus {
      outline: 0; }
    .field-text textarea::placeholder {
      color: #8e8e8e;
      font-size: 10px;
      font-weight: 400;
      opacity: 0.8; }
  .field-text ul {
    display: flex;
    margin: 0;
    margin-top: 3px; }
    .field-text ul i {
      opacity: 0.6;
      font-size: 16px;
      color: #6e7980;
      cursor: pointer; }
  .field-text .uploader-col {
    color: #6e7980;
    font-size: 12px;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 3px; }
  .field-text .attach-icon {
    margin-right: 8px;
    transform: rotate(20deg); }
  .field-text input[type="submit"] {
    z-index: 1;
    top: -25px;
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("../images/submit-ico.png");
    background-repeat: no-repeat;
    background-position: 45%;
    background-color: #65bef2;
    box-shadow: 0 2px 8.5px 0.5px rgba(0, 191, 243, 0.11);
    border-radius: 50%;
    border: 0; }
  .field-text .right-nav-marg {
    margin-right: 30px; }
    @media (max-width: 500px) {
      .field-text .right-nav-marg {
        margin-right: 10px; } }

#nav-mobile {
  margin-top: 70px;
  z-index: 1;
  transform: translateX(0); }
  @media (max-width: 992px) {
    #nav-mobile {
      transform: translateX(-105%); } }

#dropdown-main-nav, #dropdown-media, #dropdown-settings-adm, #dropdown-settings-user {
  width: 106px !important;
  height: auto !important;
  z-index: 1;
  top: 50px !important;
  position: absolute;
  display: none;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 22.6px 1.4px rgba(166, 176, 182, 0.41); }
  #dropdown-main-nav li, #dropdown-media li, #dropdown-settings-adm li, #dropdown-settings-user li {
    width: 100%; }
  #dropdown-main-nav i, #dropdown-media i, #dropdown-settings-adm i, #dropdown-settings-user i {
    background-repeat: no-repeat;
    width: 13px;
    height: 10px;
    margin-right: 7px;
    float: left;
    margin-top: 4px; }
    #dropdown-main-nav i.new-stream-ico, #dropdown-media i.new-stream-ico, #dropdown-settings-adm i.new-stream-ico, #dropdown-settings-user i.new-stream-ico {
      background-image: url("../images/new-stream-ico.png"); }
    #dropdown-main-nav i.members-ico, #dropdown-media i.members-ico, #dropdown-settings-adm i.members-ico, #dropdown-settings-user i.members-ico {
      background-image: url("../images/members-ico.png");
      margin-top: 6px; }
  #dropdown-main-nav a, #dropdown-media a, #dropdown-settings-adm a, #dropdown-settings-user a {
    color: #6e7980;
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    line-height: 22px;
    padding: 11px 0 11px 16px; }
    #dropdown-main-nav a.first, #dropdown-media a.first, #dropdown-settings-adm a.first, #dropdown-settings-user a.first {
      border-radius: 10px 10px 0 0; }
    #dropdown-main-nav a.last, #dropdown-media a.last, #dropdown-settings-adm a.last, #dropdown-settings-user a.last {
      border-radius: 0 0 10px 10px; }

#dropdown-media, #dropdown-settings-adm, #dropdown-settings-user {
  left: -55px;
  top: 30px !important;
  width: 95px !important; }

#dropdown-settings-adm, #dropdown-settings-user {
  left: -15px; }

#modal-contact-clear, #modal-new-stream, #modal-create-stream, #modal-delete-member, #modal-leave-stream, #modal-contact-edit, #modal-edit-stream, #modal-stream-info, #modal-stream-clear {
  padding: 22px 0 25px 0;
  max-width: 319px;
  overflow: hidden;
  width: 95%;
  height: 434px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 22.6px 1.4px rgba(166, 176, 182, 0.41); }
  #modal-contact-clear .edit-col i, #modal-new-stream .edit-col i, #modal-create-stream .edit-col i, #modal-delete-member .edit-col i, #modal-leave-stream .edit-col i, #modal-contact-edit .edit-col i, #modal-edit-stream .edit-col i, #modal-stream-info .edit-col i, #modal-stream-clear .edit-col i {
    font-size: 15px;
    color: #a6b0b6;
    cursor: pointer;
    margin-left: 0; }
  #modal-contact-clear .modal-content, #modal-new-stream .modal-content, #modal-create-stream .modal-content, #modal-delete-member .modal-content, #modal-leave-stream .modal-content, #modal-contact-edit .modal-content, #modal-edit-stream .modal-content, #modal-stream-info .modal-content, #modal-stream-clear .modal-content {
    height: 260px;
    overflow-y: auto; }
  #modal-contact-clear .search-form, #modal-new-stream .search-form, #modal-create-stream .search-form, #modal-delete-member .search-form, #modal-leave-stream .search-form, #modal-contact-edit .search-form, #modal-edit-stream .search-form, #modal-stream-info .search-form, #modal-stream-clear .search-form {
    margin-top: 8px;
    width: 100%; }
  #modal-contact-clear .modal-footer, #modal-new-stream .modal-footer, #modal-create-stream .modal-footer, #modal-delete-member .modal-footer, #modal-leave-stream .modal-footer, #modal-contact-edit .modal-footer, #modal-edit-stream .modal-footer, #modal-stream-info .modal-footer, #modal-stream-clear .modal-footer {
    margin-top: 10px;
    display: flex;
    justify-content: center; }
    #modal-contact-clear .modal-footer a, #modal-new-stream .modal-footer a, #modal-create-stream .modal-footer a, #modal-delete-member .modal-footer a, #modal-leave-stream .modal-footer a, #modal-contact-edit .modal-footer a, #modal-edit-stream .modal-footer a, #modal-stream-info .modal-footer a, #modal-stream-clear .modal-footer a {
      text-transform: uppercase;
      color: #65bef2;
      font-size: 12px;
      font-weight: 400; }

#modal-new-stream .modal-footer, #modal-create-stream .modal-footer, #modal-delete-member .modal-footer, #modal-leave-stream .modal-footer {
  justify-content: flex-end; }

#modal-create-stream, #modal-delete-member, #modal-leave-stream {
  width: 296px;
  height: 183px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 22.6px 1.4px rgba(166, 176, 182, 0.41); }
  #modal-create-stream .modal-content, #modal-delete-member .modal-content, #modal-leave-stream .modal-content {
    height: 70px;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 0 25px;
    margin-top: 12px; }
    #modal-create-stream .modal-content input, #modal-delete-member .modal-content input, #modal-leave-stream .modal-content input {
      border-bottom: 1px solid #f2f3f4;
      width: 100%; }
    #modal-create-stream .modal-content label, #modal-delete-member .modal-content label, #modal-leave-stream .modal-content label {
      opacity: 0.8;
      color: #a6b0b6;
      font-size: 12px;
      font-weight: 400;
      line-height: 22px; }

#modal-leave-stream p {
  margin-top: 25px; }

#modal-edit-stream, #modal-stream-info, #modal-stream-clear {
  height: 458px; }
  #modal-edit-stream .modal-content, #modal-stream-info .modal-content, #modal-stream-clear .modal-content {
    height: 200px; }
  #modal-edit-stream .modal-footer, #modal-stream-info .modal-footer, #modal-stream-clear .modal-footer {
    margin-top: 5px; }
  #modal-edit-stream .stream-info, #modal-stream-info .stream-info, #modal-stream-clear .stream-info {
    width: 100%;
    margin-bottom: 25px; }
  #modal-edit-stream .stream-logo, #modal-stream-info .stream-logo, #modal-stream-clear .stream-logo {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 24px; }
    #modal-edit-stream .stream-logo.empty, #modal-stream-info .stream-logo.empty, #modal-stream-clear .stream-logo.empty {
      background: url("/images/clear-user-logo.png") no-repeat center;
      background-color: white;
      background-size: 25px 22px;
      position: relative;
      box-shadow: 0 3px 7.5px 0.5px rgba(0, 0, 0, 0.09); }
    #modal-edit-stream .stream-logo .file-field, #modal-stream-info .stream-logo .file-field, #modal-stream-clear .stream-logo .file-field {
      position: absolute;
      width: 100%;
      height: 100%; }
  #modal-edit-stream .stream-title .input-field, #modal-stream-info .stream-title .input-field, #modal-stream-clear .stream-title .input-field {
    width: 175px; }
  #modal-edit-stream .stream-title input, #modal-stream-info .stream-title input, #modal-stream-clear .stream-title input {
    color: #6e7980;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 23px; }
  #modal-edit-stream .count-members, #modal-stream-info .count-members, #modal-stream-clear .count-members {
    width: 100%;
    display: block;
    margin-bottom: 15px; }
    #modal-edit-stream .count-members span, #modal-stream-info .count-members span, #modal-stream-clear .count-members span {
      color: #6e7980;
      font-size: 10px;
      font-weight: 500;
      margin-top: -2px; }
  #modal-edit-stream .stream-count, #modal-stream-info .stream-count, #modal-stream-clear .stream-count {
    background: url("/images/stream-count-logo.png") no-repeat;
    width: 16px;
    height: 11px;
    display: block;
    margin-right: 7px; }
  #modal-edit-stream .stream-add, #modal-stream-info .stream-add, #modal-stream-clear .stream-add {
    background: url("/images/stream-add.png") no-repeat;
    width: 14px;
    height: 10px;
    display: block;
    cursor: pointer; }
  #modal-edit-stream .delete-ico, #modal-stream-info .delete-ico, #modal-stream-clear .delete-ico {
    background: url("/images/delete-ico.png") no-repeat;
    width: 10px;
    height: 11px;
    display: block;
    margin-right: 25px;
    margin-top: 11px; }

#modal-stream-info .tooltip-leave, #modal-stream-clear .tooltip-leave {
  position: relative;
  padding-right: 25px;
  margin-top: 11px; }
  #modal-stream-info .tooltip-leave:hover .tooltip-content, #modal-stream-clear .tooltip-leave:hover .tooltip-content {
    opacity: 1; }
  #modal-stream-info .tooltip-leave i, #modal-stream-clear .tooltip-leave i {
    background: url("/images/leave-ico.png") no-repeat;
    width: 11px;
    height: 11px;
    display: block; }
  #modal-stream-info .tooltip-leave .tooltip-content, #modal-stream-clear .tooltip-leave .tooltip-content {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    right: 15px;
    top: 13px;
    text-align: center;
    width: 66px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 4.7px 0.3px rgba(166, 176, 182, 0.33); }
    #modal-stream-info .tooltip-leave .tooltip-content a, #modal-stream-clear .tooltip-leave .tooltip-content a {
      color: #6e7980;
      font-size: 9px;
      font-weight: 400; }

.modal h6 {
  color: #6e7980;
  font-size: 14px;
  font-weight: 400;
  margin: 0; }
.modal .modal-header {
  padding: 0 25px;
  width: 100%; }
.modal .modal-content {
  padding: 0; }
  .modal .modal-content p {
    font-size: 12px;
    font-weight: 400;
    color: #6e7980; }
    .modal .modal-content p a {
      color: #65bef2; }
.modal .modal-footer {
  background: transparent;
  padding: 0 25px;
  height: initial;
  border-radius: 0; }
  .modal .modal-footer a {
    padding: 0 8px; }
.modal .user-col {
  padding-left: 25px;
  height: 35px;
  cursor: pointer; }
  .modal .user-col:hover {
    background: #fafafa; }
  .modal .user-col.active {
    border-left: 2px solid #65bef2; }
  .modal .user-col.edit {
    border-left: 2px solid #a6b0b6; }
  .modal .user-col .user-logo {
    width: 35px;
    height: 35px; }
  .modal .user-col .user-status {
    left: 25px;
    top: 25px; }
.modal .cancel-btn {
  color: #6e7980 !important;
  font-size: 12px;
  font-weight: 400;
  margin-right: 10px !important; }
.modal .add-btn:hover {
  background: #e3f2fd; }
.modal .edit-color {
  color: #65bef2 !important; }

.user-col {
  margin-bottom: 20px;
  width: 100%; }
  .user-col .user-logo {
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 12px; }
    .user-col .user-logo.empty {
      background-image: url("../images/clear-user-logo.png");
      box-shadow: 0 3px 7.5px 0.5px rgba(0, 0, 0, 0.09);
      background-repeat: no-repeat;
      background-position: center;
      background-color: white;
      background-size: 40%; }
    .user-col .user-logo img {
      border-radius: 50%;
      text-align: center;
      width: 100%;
      height: 100%; }
  .user-col .user-description {
    max-width: 147px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .user-col .user-description h5 {
      cursor: pointer;
      color: #a6b0b6;
      font-size: 13px;
      font-weight: 500;
      white-space: nowrap;
      height: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 5px; }
      .user-col .user-description h5.active {
        color: #65bef2; }
    .user-col .user-description p {
      opacity: 0.5;
      color: #a6b0b6;
      font-size: 11px;
      font-weight: 300;
      line-height: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .user-col .user-status {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 9px;
    display: block;
    border-radius: 50%;
    height: 9px;
    border: 2px solid white; }
    .user-col .user-status.online {
      background-color: #b7cc38; }
    .user-col .user-status.offline {
      background-color: #a6b0b6; }
    .user-col .user-status.depart {
      background-color: #f0c600; }
  .user-col .user-badges {
    width: 25px;
    height: 13px;
    background-color: #fafafb;
    border-radius: 7px;
    opacity: 0.8;
    color: #65bef2;
    font-size: 8px;
    font-weight: 400;
    text-align: center;
    margin-left: 15px;
    margin-top: 13px; }
  .user-col .user-day {
    opacity: 0.7;
    color: #a6b0b6;
    font-size: 9px;
    font-weight: 500;
    margin-top: 13px; }

/*# sourceMappingURL=messenger-style.css.map */
